/*

Template 2075 Digital Team

http://www.tooplate.com/view/2075-digital-team

*/

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 5;

    position: relative;
  }


html, body {
     width: 100%;
     height: 100%;

     
     overflow-x: hidden;
  }

h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  line-height: 28px;
  font-size: 21px;
}

a {
  outline: none !important;
}

hr {
  width: 180px;
  border-color: #CCC;
}

.section-title strong {
	color: #30BD13;
  	font-size: 56px;
}

.section-title h1 {
	font-size: 50px;
}

.section-title {
  padding-bottom: 32px;
}

.medium-icon {
  font-size: 32px !important;
}

#work,#about, #team, 
#portfolio, #pricing, #contact {
   padding-top: 100px;
  padding-bottom: 100px;
}





/* ==========================================================================
navigation section
========================================================================== */
.custom-navbar {
    background: #30BD13;
    margin-bottom: 0;
}
.custom-navbar .navbar-brand  {
  color: #30BD13;
  font-weight: 600;
  font-size: 24px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #30BD13;
    padding: 4px 6px;
    font-size: 16px;
    color: #30BD13;
    }
.custom-navbar .nav li a {
    color: #30BD13;
    font-size: 14px;
    font-weight: 500;
    }
.custom-navbar .nav li a:hover {
  	background: #30BD13;
   color: #30BD13;
}
.custom-navbar .nav > li > a:focus {
  background-color: #30BD13;
  color: #30BD13;
  outline: none;
}
.custom-navbar .nav li.active > a {
      color: #4343DC;
    }
.custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar {
        background: #30BD13;
        border-color: #30BD13;
    }
@media(min-width:768px){
    .custom-navbar {
            background: #30BD13;
            padding: 10px;
            border-bottom: 0;
            background: 0 0;
         }
    .custom-navbar.top-nav-collapse {
            padding: 8px;
            background: #30BD13;
        }
}


/* ==========================================================================
home section
========================================================================== */
#home {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 50vh;
  text-align: center;
}
header {
    width: 100%;
    height: 50px;
    background: #3DBA23;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}















/* ==========================================================================
media quires for mobile
========================================================================== */
